@import "../../common.scss";

.services-container {
  padding: 4rem 0;
  background-color: $light_blue;
  .services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: $phone_max_width) {
  .services-container {
    padding: 2rem 0;
    .services {
      flex-direction: column;
    }
  }
}
