@import "../../common.scss";

.card-container {
  width: 30%;
  margin: 1%;
  padding: 3rem 2rem 3rem 1rem;
  border-radius: 4px;
  background-color: $white;
  border: 1px solid #dddfe7;
  display: flex;
  transition: border 0.3s ease-in-out;
  .card-icon {
    flex-basis: 40%;
    padding-top: 2rem;
    i {
      font-size: 3.7rem;
      color: $primary_red;
    }
  }
  .card-info {
    flex-basis: 60%;
    text-align: left;
    color: $gray_text;
    transition: box-shadow 0.4s ease-in-out;
    h3 {
      font-size: 1.1rem;
      font-weight: 500;
    }
    .animated-underline {
      height: 3px;
      width: 0;
      background: $primary_red;
      margin-bottom: 0.7rem;
      transition: width 0.3s ease-in-out;
      margin-top: 0.3rem;
    }
    p {
      font-size: 0.85rem;
    }
  }
  &:hover {
    border: 1px solid $primary_red;
    .card-info {
      .animated-underline {
        width: 50%;
      }
    }
  }
}

@media screen and (max-width: $phone_max_width) {
  .card-container {
    width: 100%;
    margin: 0.6rem 0;
    padding: 2rem;
    flex-direction: column;
    .card-icon {
      flex-basis: 100%;
      padding-top: 0;
      i {
        font-size: 2.3rem;
      }
    }
    .card-info {
      flex-basis: 100%;
      text-align: center;
      margin-top: 0.9rem;
      h3 {
        font-size: 0.95rem;
      }
      p {
        font-size: 0.75rem;
      }
    }
    &:hover {
      .card-info {
        .animated-underline {
          width: 100%;
        }
      }
    }
  }
}
