@import "../../common.scss";

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 6rem 2rem 4rem 2rem;
  .brand-wrapper {
    text-align: left;
    flex-basis: 60%;
    padding-right: 5rem;
    img {
      width: 59%;
      margin-bottom: 1rem;
    }
    p {
      font-size: 0.85rem;
      color: $gray_text;
    }
  }
  .social-networks-wrapper {
    flex-basis: 40%;
    text-align: left;
    p {
      font-size: 0.9rem;
      font-weight: 500;
      padding-right: 3rem;
    }
    .social-networks {
      display: flex;
      align-items: center;
    }
  }
}

@media screen and (max-width: $phone_max_width) {
  .footer-container {
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
    .brand-wrapper {
      text-align: center;
      flex-basis: 100%;
      padding-right: 0;
      img {
        width: 60%;
        margin-bottom: 1rem;
      }
      p {
        font-size: 0.7rem;
        color: $gray_text;
      }
    }
    .social-networks-wrapper {
      flex-basis: 100%;
      text-align: left;
      margin: 2rem 0;
      text-align: center;
      p {
        font-size: 0.7rem;
        font-weight: 500;
        padding-right: 0;
        max-width: 70%;
        margin: 0 auto;
      }
      .social-networks {
        margin: 1rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
